body{
    background: linear-gradient(to bottom right, #080850, rgb(148, 6, 184));
}

table{
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 255, 187);
    font-size: 30px;
    padding: 16px;
    border-collapse: collapse;
    border-radius: 50px;
    height: 908px;
}

.leader {
    height: 10%;
}
.leader:hover {
    background: rgba(0, 0, 0, 0.1);
}

td {
    width: 70px;
}

.pos {
    width: 60px;
}

.nick {
    width: 500px;
}


