{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rubik's Cube</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <script type ="text/javascript" src="{% static 'lib/three.js' %}"></script>
    <script type ="text/javascript" src="{% static 'lib/lodash.js' %}"></script>
    <script type ="text/javascript" src="{% static 'lib/Tween.js' %}"></script>
    <script type ="text/javascript" src="{% static 'lib/Timer.js' %}"></script>
    <script type ="text/javascript" src="{% static 'lib/OrbitControls.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Components/Face.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Components/Piece.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Components/RubeCube.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Components/CubeSolver.js' %}"></script>

    {% include 'cube/menu.html' %}

    <div id="main">
      <script type ="text/javascript" src="{% static 'main.js' %}"></script>
    </div>

    <div class="timer_block">
      <div id="timer" class="timer">00:00:00:0</div>
      <button id="start_timer_btn" class="start_timer_btn" onclick="start_timer()"></button>
      <button id="reset_timer_btn" class="reset_timer_btn" onclick="timer.reset()"></button>
      <button id="stop_timer_btn" class="stop_timer_btn" onclick="stop_timer();" style="display: none;"></button>
    </div>

    {% for color, pos in colors_pos %}
        <button class="but_left" style="
            background-color: {{ color }}; left: {{ pos.0 }}%;
          " onclick="moveFace('{{ color|slice:'1' }}', 'ccw', true, 100)"></button>
        <button class="but_right" style="
            background-color: {{ color }}; left: {{ pos.1 }}%;
          " onclick="moveFace('{{ color|slice:'1' }}', 'cw', true, 100)"></button>
    {% endfor %}

    <button class="scramble_btn" onclick="scramble_cube()"></button>
  </body>
</html>
