{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица лидеров</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lead_style.css' %}">
</head>
<body>
    {% include 'cube/menu.html' %}
    <table>
        {% for position, username, time in leaders %}
            {% if forloop.counter == 10 and user_position > 9 or forloop.counter == user_position %}
                <tr class="leader" style="background-color: rgba(143,209,158,0.47)">
                    <td class="pos">{{ user_position }}</td>
                    <td class="nick">{{ user.username }}</td>
                    <td class="time">{{ time }}</td>
                </tr>
            {% else %}
                <tr class="leader">
                    <td class="pos">{{ position }}</td>
                    <td class="nick">{{ username }}</td>
                    <td class="time">{{ time }}</td>
                </tr>
            {%  endif %}
        {% endfor %}
    </table>
</body>
</html>
